Kreve TLS 1.3 for transportsikring

Fra 1.1.2014 skal TLS 1.3 være påkrevd transportsikring, og TLS 1.2 skal ikkje lenger støttes.

> Nettsteder og andre offentlige tjenester, herunder applikasjonsgrensesnitt (API-er), som benytter hypertekstoverføringsprotokollen (http) skal kryptere kommunikasjonen med transportlagssikkerhet i henhold til standarden HTTP over TLS [RFC 2818] ved bruk av protokollene HTTP/1.1 [RFC 7230 til RFC 7235] og TLS 1.2 [RFC 5246] eller TLS 1.3 [RFC 8446]. Fram til 1.1.2024 skal TLS 1.2 brukes, hvis en av kommunikasjonspartene ber om det. Kravet gjelder ikke lukkede tjenester hvor forvaltningsorganet ivaretar sikkerheten på annen måte. Dersom en tjeneste får en forespørsel om kommunikasjon over HTTP uten bruk av TLS skal tjenesten svare ved omdirigering til samme URL med bruk av HTTP over TLS.
>
> Forskrift om IT-standarder i offentlig sektor §11, https://lovdata.no/forskrift/2013-04-05-959/§11
