Revidere policy for spesialtegn i e-postadresser

If KRR is allowing the use of special Norwevian characters in the **local-part** of email addresses, then they are not compliant with the standard. 

Norwegian characters can only be used in the domain-part of the email address, not in the local-part!

According to RFC 5322, Section 3.2.3:
The local-part of the email address may use any of these ASCII characters:
Uppercase and lowercase English letters (a–z, A–Z) (ASCII: 65-90, 97-122)

- Digits 0 to 9 (ASCII: 48-57)

- Characters !#$%&'*+-/=?^_`{|}~ (ASCII: 33, 35-39, 42, 43, 45, 47, 61, 63, 94-96, 123-126)

- Character . (dot, period, full stop) (ASCII: 46) provided that it is not the first or last character, and provided also that it does not appear two or more times consecutively (e.g. John..Doe@example.com is not allowed.).

- Special characters are allowed with restrictions. They are:

- Space and "(),:;<>@[\] (ASCII: 32, 34, 40, 41, 44, 58, 59, 60, 62, 64, 91-93)

It seems that KRR is supplying invalid email addresses, who can be contacted to get this changed?

Hello @sramung 

I am wondering if any decisions have been made about how to proceed with this issue? 